$deActiveColor: rgb(174, 174, 176);
$activeColor: black;

$activeBgColor: rgb(227, 227, 230);
$hoverBgColor: rgb(236, 236, 238);

@mixin square($sideLen) {
	width: $sideLen;
	height: $sideLen;
}

@mixin flexCenter($dir) {
	display: flex;
	flex-direction: $dir;
	justify-content: center;
	align-items: center;
}

@mixin fontSW($size, $weight) {
	font: {
		size: $size;
		weight: $weight;
	}
}
